{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" /> 
</head>    

<h1>About the Team</h1>
<p>We are General Assembly's Software Engineering grads from the East Coast bringing to you our favorite restaurants to eat at!</p>

<section>
    <div class="column">
        <div class="card-container">
            <div class="profile-card">
                <div class="img-box"> 
                    <img src="" class="" alt="Profile Image">    
                </div>
                <div class="header">
                    <h2>Aisha Mamoor</h2>
                    <a href="https://github.com/allaboutaisha"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/aishamamoor/"><i class="fa-brands fa-linkedin"></i></a>
                </div> 
                <div class="content">
                    <p>Aisha is a New Yorker, born and bred. Raised on Long Island with her parents, sisters and many pets, she often spent her time in the city. She loves to walk around Williamsburg, grab a coffee from Variety Roasters, read at Washington Square Park, visit the Met, and share a meal with her sisters at Shuka.</p> 
                </div>
            </div>  
            <div class="profile-card">
                <div class="img-box"> 
                    <img src="" class="" alt="Profile Image">    
                </div>
                <div class="header">
                    <h2>Andrew Taylor</h2>
                    <a href="https://github.com/drwtstc"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/andrewtlr/"><i class="fa-brands fa-linkedin"></i></a>
                </div> 
                <div class="content">
                    <p>Growing up in New York City for Andrew was an experience like no other. He feels the city is a melting pot of cultures and influences, with a vibrant energy that is unmatched. This also rings true for his experiences eating here. It is what makes NYC and the East Coast truly unique for him.</p> 
                </div>
            </div>  
            <div class="profile-card">
                <div class="img-box"> 
                    <img src="" class="" alt="Profile Image">    
                </div>
                <div class="header">
                    <h2>Becky Weeks</h2>
                    <a href="https://github.com/beckyweeks14"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/beckyweeks721/"><i class="fa-brands fa-linkedin"></i></a>
                </div> 
                <div class="content">
                    <p>Becky was born in Boston, MA and grew up outside of Providence, RI (about 50 miles southwest of Boston). She loves having 4 seasons (although sometimes she could do without winter) and she loves having a Dunkin around every corner - but definitely does NOT like trying to drive in Boston!</p> 
                </div>
            </div>  
            <div class="profile-card">
                <div class="img-box"> 
                    <img src="" class="" alt="Profile Image">    
                </div>
                <div class="header">
                    <h2>Victoria Aston</h2> 
                    <a href="https://github.com/Victoriaaston"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/victoriaaston1/"><i class="fa-brands fa-linkedin"></i></a>
                </div> 
                <div class="content">
                    <p>Victoria was born in Rhode Island, but has traveled around the world (literally) throughout her life. No matter where she goes, the East Coast will always remain her favorite. The abundance of local restaurants, shops, and locations makes it feel like home for her.</p> 
                </div>
            </div>   
        </div>    
    </div> 
</section>    

{% endblock %}
        </div>    
    </div> 
</section>    

{% endblock %}