{% extends 'base.html' %}
{% block content %}


<h1>Restaurants</h1>

<div class="row">
  <a href="#">
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src="https://iili.io/HcLenDl.jpg">
                <span class="card-title grey darken-2">Tempo</span>
            </div>
            <div class="card-content grey-text text-darken-3">
                <p>Location: Waltham, MA</p>
                <p>Cuisine: Fusion</p>
                <p>Price Range: $$ - $$$</p>
            </div>
        </div>
    </div>
  </a>
  
  <a href="#">
          <div class="col s4">
        <div class="card">
            <div class="card-image">
<img src="https://iili.io/HcLeBRf.jpg" width="100px" height="auto">
<span class="card-title grey darken-2" >Sake Steakhouse</span>
</div>
<div class="card-content grey-text text-darken-3">
<p>Location: Mansfield, MA</p>
<p>Cuisine: Japanese, Sushi, Asian</p>
<p>Price Range: $$ - $$$</p>
            </div>
        </div>
    </div>
  </a>

  <a href="#">
          <div class="col s4">
        <div class="card">
            <div class="card-image">
<img src="https://iili.io/HcLeCN4.jpg" width="100px" height="auto">
<span class="card-title grey darken-2" >Bliss Brothers Dairy</span>
</div>
<div class="card-content grey-text text-darken-3">
<p>Location: Attleboro, MA</p>
<p>Cuisine: DessertAmericanVegetarian Friendly</p>
<p>Price Range: $$ - $$$</p>
            </div>
        </div>
    </div>
  </a>
</div>

{% endblock %}