.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }