.container {
  flex-wrap: wrap;
}

/* .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: center;
} */

.card-container .profile-card {
  width: 330px;
  height: 416px;
  padding: 60px 30px;
  margin: 20px;
  box-shadow: 0.6em 0.6em 1, 2em #d2dce9,
    -0.5em -0.5em 1em #ffffff;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #6c758f;
  font-size: 30;
  margin: 10px;
  transition: color 0.4s;
}

a:hover {
  color: #0196e3;
}

/* 
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }